<template id="project-card-template">
    <style></style>

    <!--Reference:
    https://www.designtoolshub.com/tailwind-css/card-generator
    -->
    <article class="block h-full rounded-xl bg-white border border-gray-200 shadow-md dark:bg-neutral-700 text-center transition duration-300 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]">

        <!-- Card body -->
        <section class="p-6 flex flex-col h-full">

            <!-- Title -->
            <h5 id="title"
                class="mb-2 text-xl font-bold tracking-wide text-neutral-800 dark:text-neutral-50">
            </h5>

            <!-- Text Content -->
            <slot name="card-content" class="mb-2 text-base text-left text-neutral-500 dark:text-neutral-300"></slot>

            <!-- Button -->
            <a id="button"
               href=""
               target="_blank"
               rel="noopener"
               class="mt-auto inline-block rounded bg-heliotrope-600 px-6 py-2 text-xs font-medium uppercase leading-normal text-white transition duration-150 ease-in-out hover:bg-heliotrope-200 hover:text-black focus:bg-heliotrope-800 focus:outline-none focus:ring-0">
            </a>
        </section>
    </article>
</template>